---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre</Fragment>
      <Fragment slot="desc">Um Time que trabalha na vanguarda da inovação.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Bem-Vindo à Adlib Digital.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Na vanguarda da inovação em TI e Telecomunicação (TIC), a Adlib Digital está comprometida em fornecer solucões de última geração parar empresas de todos os tamanhos. Desde a nossa fundação em 2006, buscamos continuamente superar as expectativas dos nossos clientes, oferecendo serviços e produtos que impulsionam o progresso e a eficiência em um mundo cada vez mais conectado.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Fundada sobre os pilares da excelência técnica, criatividade e compromisso com a satisfação do cliente, a Adlib Digital é formada por uma equipe multidisciplinar apaixonada por tecnologia. Em um mundo onde a tecnologia molda o futuro, oferecemos uma ampla gama de serviços e soluções de TIC, incluindo consultoria estratégica, desenvolvimento de software personalizado, integração de sistemas, gerenciamento de rede e segurança cibernética. Nossa abordagem centrada no cliente garante que cada projeto seja meticulosamente planejado e executado para alcançar resultados excepcionais.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        
      <h2 class="font-bold text-3xl text-gray-800">
       Por que Escolher a Adlib Digital:
      </h2>

   <p class="text-lg leading-relaxed text-slate-500">

<b>Experiência e Expertise:</b> Com anos de experiência no setor, nossa equipe possui o conhecimento e a expertise necessários para enfrentar os desafios mais complexos em TIC.


<p class="text-lg leading-relaxed text-slate-500">

<b>Inovação Constante:</b>  Estamos sempre na vanguarda das mais recentes tendências e tecnologias, garantindo que nossos clientes tenham acesso às soluções mais inovadoras do mercado.

<p class="text-lg leading-relaxed text-slate-500">

<b>Compromisso com a Qualidade:</b>  Nosso compromisso inabalável com a qualidade é evidente em cada projeto que entregamos. Priorizamos a excelência em tudo o que fazemos.

Parceria de Longo Prazo: Valorizamos os relacionamentos com nossos clientes e buscamos construir parcerias de longo prazo baseadas na confiança, transparência e sucesso mútuo.
      </p>
    </div>
  </Container>
</Layout>
