---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Websites - Para uma Internet Rápida",
    description:
      "O uso de tecnolgias como React, Svelte, Vue, Preact ou simplesmente HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "WiFi Público e Privado",
    description:
      "Implantamos completo gerenciamento de Rede com Login Social",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "IoT - Internet das Coisas",
    description:
      "Medimos luz, energia, água e muito mais. Controle de consumo e produtividade.",
    icon: "bx:bxs-data",
  },
  {
    title: "API - Integração de Sistemas",
    description:
      "Integramos APIs nos mais diversos tipos de aplicações.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Pronto para SEO",
    description:
      "Nossos sites já são estruturados para um ótimo ranqueamento no Google.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Marketplace",
    description:
      "Desde a escolha da melhor plataforma até a definição dos meios de pagamento.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Nossos profissionais atuam em todas as áreas de tecnologia.   
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Um time multidiciplinar focado na criação de soluções de TI e Telecomunicação de alta produtividade. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
