---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Definimos a Melhor Tecnologia",
    description:
      "Construa seu site utilizando React, Svelte, Vue, Preact, web components, ou simplesmente HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Low-Code / No-Code ",
    description:
      "Trabalhamos com soluções que não precisam de programadores. Liberdade para sua Empresa.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Gerenciamento de Banco de Dados",
    description:
      "Nossas aplicações são desenvolvidas para serem facilmente escaladas.",
  },
  {
    title: "Integração",
    description:
      "Todas as soluções propostas trabalham com APIs abertas para fácil integração entre os sistemas",
  },
  {
    title: "SEO Ativado",
    description:
      "Os nossos sites são construídos pensando em resultado do Google.",
  },
  {
    title: "Telecom",
    description:
      "Acesso a redes WiFi com Proteção e Ferramenta de Marketing",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Temos tudo o que você precisa para o seu projeto. 
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    De desenvolvedores altamente capacitados até engenheiros de redes. Uma equipe multidiciplinar que vai analisar seu projeto 360º. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
